DASHBOARD_API_PORT=3460
DASHBOARD_CORS_ORIGIN=http://localhost:5174
DASHBOARD_SESSION_SECRET=change-me-use-openssl-rand-base64-32
DASHBOARD_DATABASE_DRIVER=pgsql
DASHBOARD_DATABASE_POSTGRES_HOST=postgres
DASHBOARD_DATABASE_POSTGRES_PORT=5432
DASHBOARD_DATABASE_POSTGRES_USERNAME=sockudo
DASHBOARD_DATABASE_POSTGRES_PASSWORD=change-me
DASHBOARD_DATABASE_POSTGRES_DATABASE=sockudo
