DASHBOARD_API_PORT=3460
DASHBOARD_CORS_ORIGIN=http://localhost:5174
DASHBOARD_SESSION_SECRET=change-me-use-openssl-rand-base64-32

DASHBOARD_DATABASE_DRIVER=mysql
DASHBOARD_DATABASE_MYSQL_HOST=mysql
DASHBOARD_DATABASE_MYSQL_PORT=3306
DASHBOARD_DATABASE_MYSQL_USERNAME=sockudo
DASHBOARD_DATABASE_MYSQL_PASSWORD=change-me
DASHBOARD_DATABASE_MYSQL_DATABASE=sockudo

DASHBOARD_SEED_EMAIL=admin@sockudo.local
DASHBOARD_SEED_PASSWORD=change-me-now
DASHBOARD_SEED_NAME=Administrator
