SOCKUDO_VERSION=latest
SOCKUDO_PORT=6001
SOCKUDO_METRICS_PORT=9601

SOCKUDO_DEFAULT_APP_ID=app-id
SOCKUDO_DEFAULT_APP_KEY=app-key
SOCKUDO_DEFAULT_APP_SECRET=app-secret
SOCKUDO_DEFAULT_APP_ENABLE_CLIENT_MESSAGES=false

REDIS_URL=redis://:change-me@redis:6379/0
