SOCKUDO_DEFAULT_APP_ID=local-test-app
SOCKUDO_DEFAULT_APP_KEY=local-test-app-key
SOCKUDO_DEFAULT_APP_SECRET=9d651dd2eaebfb1b2fb2513d06911dfbf51e88dcdbe6f722
SOCKUDO_HOST=127.0.0.1
SOCKUDO_PORT=6001
STOCK_INTERVAL_MS=1000
CLOCK_INTERVAL_MS=30000
NOTIFICATION_INTERVAL_MS=5000
