SOCKUDO_DEFAULT_APP_KEY=local-test-app-key
SOCKUDO_DEFAULT_APP_SECRET=9d651dd2eaebfb1b2fb2513d06911dfbf51e88dcdbe6f722
SOCKUDO_HOST=127.0.0.1
SOCKUDO_PORT=6001
DEMO_USER_ID=demo-user-1
DEMO_USER_NAME=Demo User
